
.board-row::after {
    clear: both;
    content: "";
    display: table;
}

.square {
    background-color: #fff;
    border: 1px solid black;
    float: left;
    font-size: 25px;
    font-weight: bold;
    /* line-height: 330px; */
    height: 35px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 35px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
  }

.game {
    display: flex;
    flex-direction: row;
}

.status {
    margin-bottom: 12px;
}

.titre {
    text-align: center;
}